.places {
    top: 100px;
    position: absolute;
    overflow: hidden;
}
.places h1 {
font-size: 30px;
margin-bottom: -1px;
margin-left: 20px;
}
.places article {
width: 390px;
padding: 20px;
margin: 20px;
border: 1px solid #FF5A5F;
border-radius: 4px;
display: flex;
justify-content: center;
}
.places article h2 {
font-size: 30px;
}
.places_boxes{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 100%;
}